* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;



}

#menu {
    list-style: none;
    margin: 70px;
    padding: 50px;
    border-radius: 20px;
    background-color: #D9B19A;

}

#menu ul li {
    display: inline-block;


}

#menu ul li a {
    background-color: #E4E4E4;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

#menu ul li a:hover {
    background-color: #f2e9d8;
    transition: 0.2s;
}

.busqueda {
    float: right;
}

.centerTitle {
    text-align: center;
    border-radius: 20px;
    padding: 70px;
    background-color: #f2e9d8;
    font-size: 50px;
    margin: 100px;
    margin-top: 6px;
    
}

.contenedor {
    display: grid;
    gap: 5px;
    grid-template-columns: 25% 25% 25%  25% 25% ;
    grid-template-rows:  5% 35% 30% 25% 25%  ;
    justify-content: center;
    background-color: #f2e9d8;
    border-radius: 30px;
    margin: 0 auto;

}
.item1{
    grid-column-start: 2;
    text-align: center;
    padding-top: 15px;
    background-color: #f2b872;
    border-radius: 10px;
    font-size: 50px;
    
}
.item2{
    grid-column-start: 2;
    grid-row-start: 2,2;

    
}
.item4{
    grid-column-start:2;
    grid-row-start: 3, span, 4;
}
.item3{
    grid-column-start:2;
    grid-row-start: 4;

}
.item5 ul, .item6 ul, .item7 ul{
    list-style: none;
    
}



.item5{
    grid-column-start:3 ;
    grid-column-end:5 ;
    grid-row-start:2 ;
    font-size: 40px;
    background-color: #bf4904;
    text-align: center;
    border-radius: 20px;
    padding-top: 30px;
    height: 45%;
    margin-top: 20%;
    margin-left: 20%;

}
.item6{
    grid-column-start:3 ;
    grid-column-end:5 ;
    grid-row-start:3 ;
    font-size: 40px;
    background-color: #bf4904;
    text-align: center;
    border-radius: 20px;
    height: 50%;
    margin-top: 20%;
    margin-left: 20%;

}
.item7{
    grid-column-start:3 ;
    grid-column-end:5 ;
    grid-row-start:4 ;
    font-size: 40px;
    background-color: #bf4904;
    text-align: center;
    border-radius: 20px;
    height: 60%;
    margin-top: 20%;
    margin-left: 20%;

}

